<div class="flex flex-col justify-center gap-2"
     th:fragment="basicInput(labelText, inputId, inputName, inputType, inputMinimumLength)">
    <label th:for="${inputId}" th:text="${labelText}"></label>
    <input class="rounded border-slate-400 bg-slate-100" th:id="${inputId}" th:name="${inputName}"
           th:type="${inputType}" th:placeholder="${labelText}"
           th:attrappend="minlength=${inputMinimumLength != null}?${inputMinimumLength}">
</div>

<div class="flex flex-col justify-center gap-2"
     th:fragment="emailInput(labelText)">
    <label for="email" th:text="${labelText}"></label>
    <input class="rounded border-slate-400 bg-slate-100" id="email" name="email" type="email"
           th:placeholder="${labelText}">
</div>

<div class="flex flex-col justify-center gap-2"
     th:fragment="passwordInput(labelText, inputMinimumLength, invisibleButtonContent, visibleButtonContent)">
    <label for="password" th:text="${labelText}"></label>
    <div class="relative flex flex-col">
        <input class="rounded border-slate-400 bg-slate-100" id="password" name="password" type="password"
               th:attrappend="minlength=${inputMinimumLength != null}?${inputMinimumLength}"
               th:placeholder="${labelText}">
        <button type="button" class="toggle-visibility absolute right-2 inset-y-0" onclick="togglePasswordVisibility()">
            <span th:text="${invisibleButtonContent}"></span>
        </button>
    </div>

    <script th:inline="javascript">
        function togglePasswordVisibility() {
            const passwordInput = document.getElementById('password');
            const button = document.querySelector('.toggle-visibility span');
            if (passwordInput.type === 'password') {
                passwordInput.type = 'text';
                button.textContent = /*[[${visibleButtonContent}]]*/'&#x1F648';
            } else {
                passwordInput.type = 'password';
                button.textContent = /*[[${invisibleButtonContent}]]*/'&#x1F441';
            }
        }
    </script>
</div>