<script th:fragment="toastsScript" th:inline="javascript">
    document.body.addEventListener("htmx:afterSwap", () => {
        const toasts = document.querySelectorAll('.toast:not(.removed)');

        toasts.forEach((toast, index) => {
            requestAnimationFrame(() => {
                toast.classList.add('translate-x-[75vw]')
            })
            setTimeout(() => {
                turnInvisible(toast);
            }, 3000 + index * 500);
        });
    })

    function turnInvisible(toast) {
        toast.classList.add('opacity-0');
        toast.classList.add('removed')
        toast.classList.remove('translate-x-[75vw]');
        toast.classList.add('translate-x-[-100vw]');
        setTimeout(() => {
            toast.remove();
        }, 300);
    }
</script>