<div th:fragment="toast(message)" th:if="${!#strings.isEmpty(message)}"
     class="transition duration-300 fixed top-8 left-0 translate-x-[80vw] toast bg-white p-4 rounded flex gap-2">
    <span th:text="${message}"></span>
    <button class="" onclick="turnInvisible(this.parentElement)">&times;</button>
</div>

<script th:fragment="toastsScript" th:inline="javascript">
    const toasts = document.querySelectorAll('.toast');

    toasts.forEach((toast, index) => {
        setTimeout(() => {
            turnInvisible(toast);
        }, 2000 + index * 500);
    });

    function turnInvisible(toast) {
        toast.classList.add('opacity-0');
        toast.classList.remove('translate-x-[80vw]');
        toast.classList.add('translate-x-[-100vw]');
        setTimeout(() => {
            toast.remove();
        }, 300);
    }
</script>